.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 126px;
  top: 9px;
}
.bmgt-4072 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 896px;
  top: 19px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 103px;
  height: 49px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 97px;
  height: 49px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 142px;
  height: 49px;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1157px;
  height: 460px;
  position: absolute;
  left: 136px;
  top: 232px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 44px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.semester-details-spring-2026 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.semester-details-spring-2026-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.semester-details-spring-2026-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-paul-t-shapiro-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.professor-paul-t-shapiro-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.teaching-assistants-sarvagya-singh {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.teaching-assistants-sarvagya-singh-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.teaching-assistants-sarvagya-singh-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
