.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 120px;
  top: 9px;
}
.bmgt-4072 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 903px;
  top: 19px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 103px;
  height: 49px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 97px;
  height: 49px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 142px;
  height: 49px;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: center;
  justify-content: center;
  width: 977px;
  position: absolute;
  left: 231px;
  top: 312px;
}
.let-s-create-a-web-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 73px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 952px;
}
.call-to-action {
  background: #a8ff35;
  border-radius: 10px;
  flex-shrink: 0;
  width: 180px;
  height: 57px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 417px;
  top: 255px;
  width: 144px;
  height: 29px;
}
