.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 121px;
  top: 9px;
}
.bmgt-4072 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 896px;
  top: 19px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 103px;
  height: 49px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 97px;
  height: 49px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 142px;
  height: 49px;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1170px;
  height: 422px;
  position: absolute;
  left: 131px;
  top: 225px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 44px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 1222px;
}
.professor-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.ta-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.sarvagya-singh-singh-007-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
